{% extends "base.html" %}
{% block title %}{{ project.title }}{% endblock %}
{% block content %}
    <h4>Описание:</h4>
    <p class="card-text">{{ project.description }}</p>

    {% for issue in issues %}
        <div class="card mt-2 text-center" style="width: 18rem;">
            <div class="card-body">
                <a style="text-decoration: none; color: black" href="{% url "webapp:detail" issue.pk %}">
                    <h4>{{ issue.summary }}</h4></a>
                <p>{{ issue.status }}</p>
                {% for types in issue.type.all %}
                    <p>
                        {{ types.title }}
                        {% if not forloop.last %}, {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="card mt-2 text-center" style="width: 18rem; color: lightskyblue;  text-decoration: none">
        <a href="{% url "webapp:create" project.pk%}"><h1 style="font-size: 70pt; text-decoration: none">+</h1></a>
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}